h1{
    color:black;
    background-color:yellow;
}
.header{
    background-color: yellow;
    display:flex ;
    justify-content: space-between;
    
}
body{
    background-color: #000000;

    background-size: cover;
}
h3{
    color: #ffffff;
    font-family: "Comic Sans";
}
.para{
    color:#00ff44;
    padding: 30px;
    font-family: "Comic Sans";
}
